<div class="panel-custom">
    <div class="panel-heading">
        <h1>About me...</h1>
    </div>
    <div class="panel-body">
        <p>My name is James and I'm building a pin site not just for poets, but
        for people of the world. I would love for everyone to make this site a 
        collage of their opinions, pictures, feelings, art, and ideas. From 
        politics to cartoons and memes, post it!
        </p>
        <p>
        As stated earlier my name is James I studied computer science and
        continue to do so. I went to Granite State College and Wentworth Institute
        of Technology in Boston, MA for the most part. I enjoy learning new things
        and for me programming/web development is like a puzzel 90% what is wrong
        with this thing and 10% typing. I enjoy puzzles.
        </p>
        <p>
        Personally, I believe in freedom, liberty, and the right to be happy. If
        you can find happiness in this life don't change a thing because that is
        the key, to be happy. With this site I hope to contribute to the freedom
        of speech that we still enjoy in this ever constraining republic. Personally,
        I won't get political here. However, please feel free to.
        </p>
    </div>
    <div class="panel-footer">
        <%= link_to 'Home', root_path, class: "btn btn-primary btn-lrg" %>
    </div>
</div>