<div class="panel-custom">
    <div class="panel-heading">
        <h1>About me...</h1>
    </div>
    <div class="panel-body">
        <p>My name is James and I'm building a pin site for poets</p>
    </div>
    <div class="panel-footer">
        <%= link_to 'Home', root_path, class: "btn btn-primary btn-lrg" %>
    </div>
</div>