<div class="panel-custom">
    <div class="panel-heading">
        <h1>Contact Page</h1>
    </div>
    <div class="panel-body">
        <p>James Meattey ---> jmeattey@comcast.net</p>
    </div>
    <div class="panel-footer">
        <%= link_to 'Home', root_path, class: "btn btn-primary btn-lrg" %>
    </div>
</div>
    
    
    

 
