<div class="jumbotron">
 <h1> PinPo Pinterest For Poets
 <meta name="google-site-verification" content="dj75JY2dysLvuxPZIvU0b6TFVasVpH3P_Z93E9tMmHc" />
 </h1>
 <p>Welcome!</p>
 <%= link_to 'About Us', 'home/about', class: 'btn btn-primary btn-lrg' %>
 <%= link_to 'Contact Us', 'home/contact', class: 'btn btn-primary btn-lrg' %>
</div>
<div class="panel-custom">
 <div class="panel-heading">
  <p>
   <h3>
   Post memes, poetry, sh*t that makes you happy, angry, or sad, but post! 
   Share with the world your ideas, art, writing. The internet is a thing that 
   has and continues to be an outlet for free speech and the culmination of ideas,
   so internet on my friends...
  </h3> 
  </p>
  <p>
   This site is still evolving. However, feel free to create an account and post.
   I will be creating comment sections and larger text entry for posting as well.
   
  </p>
  
  
  </div>
  <div class="panel-footer">
    Thank you for checking out <b>PinPo</b>
  </div>
 </div>
 

