<div class="jumbotron">
 <h1> PinPo Pinterest For Poets </h1>
 <p>Welcome!</p>
 <%= link_to 'About Us', 'home/about', class: 'btn btn-primary btn-lrg' %>
 <%= link_to 'Contact Us', 'home/contact', class: 'btn btn-primary btn-lrg' %>
</div>